/* ================= RESET & BASE ================= */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
  font-style: normal;
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;
  box-shadow: none;
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Inter Tight", sans-serif;
  color: #fafafa;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
